<?xml version="1.0" encoding="utf-8"?>
<root>
    <module
    name="login"
    target="SHLoginViewController"
    type = "--"
    icon = "tab_news.png"
    title = "登录"
    pre_action = "notification_login_successful"

    />
    <module
    name="product_list"
    target="SHProductListViewController"
    type = "main"
    icon = "ic_list.png"
    title = "产品列表"
    />

    <module
    name="assemble"
    target="SHMyAssembleViewController"
    type = "--"
    icon = "ic_recommend.png"
    title = "我的组合"
    />
    <module
    name="recommend"
    target="SHRecommendViewController"
    type = "--"
    icon = "ic_combination.png"
    title = "我的推荐"
    />

    <module
    name="create_assemble"
    target="SHCreateAssembleViewController"
    type = "--"
    icon = ""
    title = "创建组合"
    />
    
    <module
    name="wealth"
    target="SHMyWealthFinancialViewController"
    type = "main"
    icon = "ic_money@2x.png"
    title = "我的财富"
    />
 
    <module
    name="register"
    target="SHRegViewController"
    type = "--"
    icon = "navi_home.png"
    title = "注册"
    />
    <module
    name="prod_detail"
    target="SHProductDetialViewController"
    type = "--"
    icon = "navi_home.png"
    title = "产品详情"
    />
    <module
    name="order_list"
    target="SHOrderListViewController"
    type = "--"
    icon = "navi_home.png"
    title = "订单列表"
    />
    
    <module
    name="order_detail"
    target="SHOrderDetailViewController"
    type = "--"
    icon = "navi_home.png"
    title = "订单详情"
    />
    <module
    name="customer_list"
    target="MyCustomerListViewController"
    type = "--"
    icon = "navi_home.png"
    title = "订单详情"
    />
    <module
    name="customer_add"
    target="SHAddCustomerViewController"
    type = "--"
    icon = "navi_home.png"
    title = "订单详情"
    />
    <module
    name="order_create"
    target="SHCreateOrderViewController"
    type = "--"
    icon = "navi_home.png"
    title = "订单创建"
    />
    
    <module
    name="qualification_examination"
    target="SHQualificationExaminationViewController"
    type = "--"
    icon = "navi_home.png"
    title = "订单创建"
    />
    <module
    name="question"
    target="SHQuestionnairesurveyViewController"
    type = "--"
    icon = "navi_home.png"
    title = "订单创建"
    />
    <module
    name="user_detail"
    target="SHCustomInfoViewController"
    type = "--"
    icon = "navi_home.png"
    title = "用户详情"
    />
    <module
    name="agreement"
    target="SHAgreementViewController"
    type = "--"
    icon = "navi_home.png"
    title = "用户详情"
    />
    <module
    name="sexorientation"
    target="SHSexOrientationViewController"
    type = "--"
    icon = "navi_home.png"
    title = "取向"
    />
    <module
    name="search_financial"
    target="SHSearchFinancialViewController"
    type = "--"
    icon = "navi_home.png"
    title = "取向"
    />
    
    <module
    name="add_financial"
    target="SHAddFinancialManagementViewController"
    type = "--"
    icon = "navi_home.png"
    title = "取向"
    />
    
    <module
    name="webview"
    target="SHWebViewController"
    type = "--"
    icon = "navi_home.png"
    title = "取向"
    />
    

   </root>